body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif; 
    background-color: #ffffff; 
    background-image: url('images/vegetables-herbs-cooking-top-view_136595-15014.avif');
    background-size: cover; 
    background-position: center; 
    color: #333; 
    margin: 0; 
    padding: 20px; 
}
#quiz-form {
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}



h1 {
    font-family: 'Impact', sans-serif;
    text-align: center; 
    color: #d699e1; 
    font-size: 60px;
    padding-top: 40px;
    margin-bottom: 70px;
}

h2 {
    font-family: 'Impact', sans-serif;
    text-align: center; 
    color: #494747; 
}

div {
    margin-bottom: 15px; 
}


label {
    font-weight: bold; 
    display: block; 
    margin-bottom: 5px; 
}


input[type="radio"], input[type="checkbox"] {
    margin-right: 10px; 
}


button {
    display: block; 
    width: 100%;
    padding: 10px; 
    background-color: #27ae60; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #219150; 
}


input::placeholder {
    color: #999; 
    font-style: italic; 
}
.details-section {
    width: 80%; 
    max-width: 500px;
    margin: 20px auto; 
    padding: 20px; 
    border: 2px solid #d699e1; 
    border-radius: 10px; 
    background-color: #feffd2; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.question-section {
    width: 80%; 
    max-width: 500px;
    margin: 20px auto; 
    padding: 20px; 
    border: 2px solid #d699e1; 
    border-radius: 10px; 
    background-color: #d8fcdc; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.button-section { 
    padding: 8px 16px; 
    font-size: 14px; 
    width: auto; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 

}
.input-group {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
input[type="text"], input[type="email"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error-message {
    color: red;
    font-family: 'Arial', sans-serif;
}
.success-message {
    color: green;
}
